  </div>  

  <!-- footer  -->
  <div class="container">
    <footer>
      <hr class="hr-footer">
      <hr class="hr-footer">
      <div class="footer-body">
        <div class="footer-col"><span>NewsBlog © 2021 </span></div>
        <div class="footer-col"><span>All Rights Reserved. Created by Pavel Nagorsky. </span></div>
        <div class="footer-col">
          <div class="social-bar-wrap">
            <a title="Facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a title="Twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a title="Pinterest" href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
            <a title="Instagram" href="#" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <hr class="hr-footer">
    </footer>
  </div>
  <!-- scripts for menu, slideshow -->
  <script src="/scripts/scripts.js"></script>

</body>
</html>  