<%- include ('./partials/header') %>

	<!-- Register Form -->
    <div class="container">
      <hr class="hr-footer">
      <div class="container-form">
        <h1 class="form-name"> Sign Up </h1>
        <form action="/register" method="POST"> 
          <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="username" maxlength="20" title="20 characters maximum">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password">
          </div>
          <div class="form-group">
            <button class="btn comment-btn">Submit</button>
          </div>
        </form>
        <a href="/posts">Go Back</a>
      </div>
    </div>

<%- include ('./partials/footer') %>